**/build
**/target
**/.idea
**/.gradle
**/*.iml
**/node_modules
**/public/page/**/*.js
**/public/clustering-progress/**/*.js
**/test/**/*.js
**/public/uploads/*
**/*.map
**/.vscode
**/simdoc/core/java/libs/Image/*.png
**/simdoc/core/java/libs/Image/*.json*
**/simdoc/core/java/libs/Comp/*.gz
**/simdoc/core/java/libs/Comp/*.json
**/simdoc/core/java/libs/Comp/*.log
**/simdoc/core/java/libs/Comp/*.pdf
**/simdoc/core/java/libs/Model/*.json
**/simdoc/core/java/libs/Model/*.gz
**/LineDetection/ld_out
**/PrepInputDir/safe-input-dir
